<section class="about-me">
  <div class="container about-me-container">
    <div class="about__title">
      <h2>About <span class="accent">Me</span></h2>
    </div>
    <div class="about__box">
      <div class="about__img">
        <img class="img" src="../img/img.png" alt="" />
      </div>
      <div class="about__info">
        <h3>bio</h3>
        <p>
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p>
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>

    <div class="about__box-bottom">
      <div class="about__education">
        <h3>EDUCATION</h3>
        <ul class="about__menu">
          <li class="about__link">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="about__link">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="about__link">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>

      <div class="about__role">
        <h3>ROLE</h3>
        <ul class="about__menu">
          <li class="about__link">Frontend development</li>
          <li class="about__link">HeadlessCMS, Wordpress</li>
          <li class="about__link">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
