<footer class="footer">
    <div class="footer-content">
      <a href="https://andrii-kyrch.github.io/project-CodeHeros-11/" class="logo">
        <span class="logo-lloyd">Lloyd</span><span class="logo-jefferson">Jefferson</span><span class="logo-dot">.</span>
      </a>
      
      <div class="footer-right">
        <ul class="social-links">
          <li><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
          <li><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
          <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a></li>
          <li><a href="https://andrii-kyrch.github.io/project-CodeHeros-11/" target="_blank">GitHub</a></li>
        </ul>
        <p class="copyright">© Copyright 2024. Made by LloydJefferson</p>
      </div>
    </div>
  </footer>