<footer class="page-footer page-section">
  <div class="container footer-container">
    <div class="footer-nav">
      <a href="./index.html" class="logo"
        >Lloyd<span class="logo-accent-color">Jefferson.</span></a
      >
      <ul class="footer-social-list">
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://andrii-kyrch.github.io/project-CodeHeros-11/"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="copyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
