<section class="hero page-section">
  <div class="container hero-container">
    <h1 class="title-hero section-title">
      Hello, I am
      <span class="span-title-hero section-title-accent"
        >Fullstack developer</span
      >
    </h1>
    <img
      class="photo-hero hiddden"
      src="/img/hero/hero-photo.jpg"
      srcset="/img/hero/hero-photo.jpg 1x, /img/hero/hero-photo@2x.jpg 2x"
      alt="Developer Image"
    />
    <div class="descktop-box">
      <div class="box-link-hero">
        <svg class="arow-hero" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-order"></use>
        </svg>
        <a href="#work-together" class="link-hero"
          >Order the <span class="span-link-hero">project</span>
        </a>
      </div>
      <p class="text-hero">
        I work with people all over the world to create
        <span class="span-text-hero">impressive</span> and
        <span class="span-text-hero">functional websites</span>
        that reflect each client's unique personality.
      </p>
    </div>
  </div>
  <ul class="social-list-hero">
    <li class="social-item-hero">
      <a
        class="social-item-hero"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="social-item-hero">
      <a
        class="social-item-hero"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        >Facebook</a
      >
    </li>
    <li class="social-item-hero">
      <a
        class="social-item-hero"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        target="_blank"
      >
        Linkedin</a
      >
    </li>
    <li class="social-item-hero">
      <a
        class="social-item-hero"
        href="https://github.com/andrii-kyrch/project-CodeHeros-11"
        target="_blank"
        >GitHub</a
      >
    </li>
  </ul>
</section>
