<section class="my-projects container section-margin">
  <h2 class="my-projects-title">MY <span class="accent">PROJECTS</span></h2>
  <ul class="my-projects-list">
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/wallet-webservice.jpg"
        srcset="
          /img/my-projects/wallet-webservice.jpg    1x,
          /img/my-projects/wallet-webservice@2x.jpg 2x
        "
        alt="Wallet Webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Wallet Webservice</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/green-harvest-online-store.jpg"
        srcset="
          /img/my-projects/green-harvest-online-store.jpg    1x,
          /img/my-projects/green-harvest-online-store@2x.jpg 2x
        "
        alt="Green harvest online store"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Green harvest online store</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/english-excellence-webservice.jpg"
        srcset="
          /img/my-projects/english-excellence-webservice.jpg    1x,
          /img/my-projects/english-excellence-webservice@2x.jpg 2x
        "
        alt="English excellence webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">English excellence webservice</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/power-pulse-webservice.jpg"
        srcset="
          /img/my-projects/power-pulse-webservice.jpg    1x,
          /img/my-projects/power-pulse-webservice@2x.jpg 2x
        "
        alt="Power pulse webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Power pulse webservice</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/mimino-website.jpg"
        srcset="
          /img/my-projects/mimino-website.jpg    1x,
          /img/my-projects/mimino-website@2x.jpg 2x
        "
        alt="Mimino website"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Mimino website</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/vyshyvanka-vibes-landing-page.jpg"
        srcset="
          /img/my-projects/vyshyvanka-vibes-landing-page.jpg    1x,
          /img/my-projects/vyshyvanka-vibes-landing-page@2x.jpg 2x
        "
        alt="Vyshyvanka vibes Landing Page"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Vyshyvanka vibes Landing Page</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/chego-jewelry-website.jpg"
        srcset="
          /img/my-projects/chego-jewelry-website.jpg    1x,
          /img/my-projects/chego-jewelry-website@2x.jpg 2x
        "
        alt="Chego jewelry website"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Chego jewelry website</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/energy-flow-webservice.jpg"
        srcset="
          /img/my-projects/energy-flow-webservice.jpg    1x,
          /img/my-projects/energy-flow-webservice@2x.jpg 2x
        "
        alt="Energy flow webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Energy flow webservice</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/fruitbox-online-store.jpg"
        srcset="
          /img/my-projects/fruitbox-online-store.jpg    1x,
          /img/my-projects/fruitbox-online-store@2x.jpg 2x
        "
        alt="Fruitbox online store"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Fruitbox online store</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/my-projects/starlight-studio-landing-page.jpg"
        srcset="
          /img/my-projects/starlight-studio-landing-page.jpg    1x,
          /img/my-projects/starlight-studio-landing-page@2x.jpg 2x
        "
        alt="Starlight studio landing page"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box">
        <h3 class="project-name">Starlight studio landing page</h3>
        <a href="#" class="button-link">
          Visit
          <svg class="link-icon" width="24" height="24">
            <use href="/img/icons.svg/#icon-arrow-visit"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
  <button id="loadMoreBtn" style="display: none">Load more</button>

  <div id="loader-container" style="display: none">
    <span class="loader"></span>
  </div>
</section>
