<section class="reviews page-section">
  <div class="container reviews-container">
    <h2 class="title-reviews section-title">REVIEWS</h2>

    <div class="swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>

    <div class="reviews-buttons">
      <button class="reviews-prev-btn" type="button">
        <svg width="24" height="24">
          <use href="./img/sprite.svg#icon-prev-btn"></use>
        </svg>
      </button>
      <button class="reviews-next-btn" type="button">
        <svg width="24" height="24">
          <use href="./img/sprite.svg#icon-next-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
