<div class="main-reviews">
  <h1 class="title-reviews">REVIEWS</h1>

  <div class="carousel-container">
    <div class="carousel"></div>
  </div>

  <div class="btn-left-right">
    <button class="btn-prev" type="button">
      <svg class="" width="40" height="40">
        <use href="../img/icons.svg#icon-arrow-reviews-left"></use>
      </svg>
    </button>
    <button class="btn-next" type="button">
      <svg class="" width="40" height="40">
        <use href="../img/icons.svg#icon-arrow-narrow-right-1-min"></use>
      </svg>
    </button>
  </div>

  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</div>
