<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="main-reviews">
        <h1 class="title-reviews">REVIEWS</h1>
     
        <ul class="main-list"></ul>
        <div>
            <button class="" type="button">
                <svg class="" width="40" height="40"> 
                <use href="../img/icons.svg#icon-arrow-reviews-left"></use>
                </svg>
            </button>
            <button class="" type="button">
                <svg class="" width="40" height="40"> 
                <use href="../img/icons.svg#icon-arrow-reviews-right"></use>
                </svg>
            </button>
        </div>
       
     </div>

     <script type="module" src="../js/reviews.js"></script>
     <script type="module" src="../js/api.js"></script>
    
</body>
</html>