<section class="tech-skills">
    <div class="tech-skills-section">
        <h2 id="tech-skills" class="tech-skills-title">Tech Skills</h2>
        <div class="tech-skills-ribbons">
            <div class="tech-skills-ribbon">
                <div class="ribbon-content">
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            HTML/CSS
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            JAVASCRIPT
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            REACT
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            NODE.JS
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            REACT NATIVE
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            TYPE SCRIPT
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            HTML/CSS
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            JAVASCRIPT
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            REACT
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            NODE.JS
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            REACT NATIVE
                        </span>
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-green" />
                    </svg>
                        <span class="ribbon-item">
                            TYPE SCRIPT
                        </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                HTML/CSS
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                JAVASCRIPT
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                REACT
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                NODE.JS
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                REACT NATIVE
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                TYPE SCRIPT
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                HTML/CSS
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                JAVASCRIPT
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                REACT
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                NODE.JS
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                REACT NATIVE
                            </span>
                        <svg class="ribbon-item-dot" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-green" />
                        </svg>
                            <span class="ribbon-item">
                                TYPE SCRIPT
                            </span>
                </div>
            </div>
    
            <div class="tech-skills-ribbon-rotated">
                <div class="ribbon-content">
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            HTML/CSS
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            JAVASCRIPT
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            REACT
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            NODE.JS
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            REACT NATIVE
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            TYPE SCRIPT
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            HTML/CSS
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            JAVASCRIPT
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            REACT
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            NODE.JS
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            REACT NATIVE
                        </span>
                    <svg class="ribbon-item-dot-rotated" width="24" height="24">
                        <use href="../img/icons.svg#icon-dot-black" />
                    </svg>
                        <span class="ribbon-item-rotated">
                            TYPE SCRIPT
                        </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                HTML/CSS
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                JAVASCRIPT
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                REACT
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                NODE.JS
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                REACT NATIVE
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                TYPE SCRIPT
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                HTML/CSS
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                JAVASCRIPT
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                REACT
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                NODE.JS
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                REACT NATIVE
                            </span>
                        <svg class="ribbon-item-dot-rotated" width="24" height="24">
                            <use href="../img/icons.svg#icon-dot-black" />
                        </svg>
                            <span class="ribbon-item-rotated">
                                TYPE SCRIPT
                            </span>
                </div>
            </div>
        </div>
    </div>
</section>
