<section id="tech-skills" class="section tech-skills-section">
    <div class="container">
        <h2 id="tech-skills" class="tech-skills-title">Tech Skills</h2>
        <div class="tech-skills-ribbon">
            <div class="ribbon-content">
                <span class="ribbon-item">
                    HTML/CSS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    JAVASCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    NODE.JS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT NATIVE
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    TYPE SCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    HTML/CSS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    JAVASCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    NODE.JS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT NATIVE
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    TYPE SCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
            </div>
        </div>

        <div class="tech-skills-ribbon-rotated">
            <div class="ribbon-content">
                <span class="ribbon-item">
                    HTML/CSS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    JAVASCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    NODE.JS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT NATIVE
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    TYPE SCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    HTML/CSS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    JAVASCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    NODE.JS
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    REACT NATIVE
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
                <span class="ribbon-item">
                    TYPE SCRIPT
                    <svg class="ribbon-item-dot" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-dot-green" />
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
