.about-me-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about-me-img {
  display: inline-block;
}

.about-me-subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.bio-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.edu-list,
.role-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 20px;
}

.edu-item,
.role-item {
  position: relative;
}

.edu-item::before,
.role-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -14px;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: var(--color-primary);
  transform: rotate(-180deg);
}

@media screen and (min-width: 768px) {
  .about-me {
    background-image: url('../img/about-me/about-me-decor-tablet.png');
    background-repeat: no-repeat;
    background-position: right 32px bottom 218px;
    background-size: 345px;
  }

  @media screen and (min-resolution: 192dpi) {
    .about-me {
      background-image: url('../img/about-me/about-me-decor-tablet-2x.png');
    }
  }

  .about-me-content {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 32px;
  }

  .about-me-subtitle {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .about-me-bio {
    min-height: 760px;
  }

  .about-me-img,
  .about-me-bio,
  .about-me-edu,
  .about-me-role {
    width: calc((100% - 32px) / 2);
  }

  .about-me-img {
    align-self: flex-end;
  }

  .edu-list,
  .role-list {
    row-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me {
    max-width: 1280px;
    background-image: url('../img/about-me/about-me-decor-desktop.png');
    background-repeat: no-repeat;
    background-position: right 32px bottom 346px;
    background-size: 394px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-resolution: 192dpi) {
    .about-me {
      background-image: url('../img/about-me/about-me-decor-desktop-2x.png');
    }
  }

  .about-me-content {
    row-gap: 80px;
    column-gap: 136px;

    padding-left: 208px;
  }

  .about-me-img,
  .about-me-edu,
  .about-me-role {
    max-width: 384px;
  }

  .about-me-bio {
    max-width: 488px;
    min-height: 720px;
  }
}
