:root {
  --color-black: #292929;
  --color-black-dt: #1e2023;

  --color-white: #f0f0f0;
  --color-white-dt: #f0f0f0;

  --color-accent-green: #00b068;
  --color-accent-green-dt: #14c57c;

  --color-hover-green: #009156;

  --color-light-accent: #bcdfd1;
  --color-dark-accent-dt: #204136;

  --color-light-grey: #e4e5e6;
  --color-charcoal-grey-dt: #2a2d32;
  --color-hover-grey: #bbbbbb;
  --color-hover-charcoal-dt: #3b3f45;

  --color-error: #e74a3b;

  --color-bg-light: var(--color-white);
  --color-bg-dark: var(--color-black-dt);

  --color-text-light: var(--color-black);
  --color-text-dark: var(--color-white-dt);

  --color-border-light: var(--color-light-grey);
  --color-border-dark: var(--color-charcoal-grey-dt);
}

[data-theme='light'] {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-primary: var(--color-accent-green);
  --color-hover-primary: var(--color-hover-green);
  --color-secondary: var(--color-light-grey);
  --color-hover-secondary: var(--color-hover-grey);
  --color-accent: var(--color-light-accent);
  --color-error: var(--color-error);
  --color-border: var(--color-border-light);
}

[data-theme='dark'] {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-accent-green-dt);
  --color-hover-primary: var(--color-hover-green);
  --color-secondary: var(--color-charcoal-grey-dt);
  --color-hover-secondary: var(--color-hover-charcoal-dt);
  --color-accent: var(--color-dark-accent-dt);
  --color-error: var(--color-error);
  --color-border: var(--color-border-dark);
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 40px;
}

.section-title-accent {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .section-title {
    font-size: 108px;
    line-height: 124px;
  }
}

@media screen and (min-width: 1280px) {
  .page-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}
