.benefits{
  margin-bottom: 40px;
  position: relative;
}
.benefits-title{
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.benefits-title-part {
  color: var(--color-benefits-title-part-fg);
}
.benefits-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefits-item{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.benefits-item-icon-wrapper{
  width: fit-content;
  padding: 12px;
  line-height: 0;
  border-radius: 8px;
  background-color: var(--color-benefits-icon-bg);
}
.benefits-item-title{
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .benefits{
    margin-bottom: 124px;
  }
  .benefits-title{
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;                        
    list-style: none;           
  }
  .benefits-item {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .benefits-item:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .benefits-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .benefits-item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .benefits-item:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  .benefits-list{
    flex-wrap: wrap;
  }
  .benefits-title{
    font-size: 108px;
  }
  .benefits-item-title{
    font-size: 20px;
    line-height: 160%
  }
}
@media (min-width: 1280px){
  .benefits{
    padding-top: 276px;
  }
  .benefits-title{
    position: absolute;
    top: 0;
    max-width: 681px;
    line-height: 1.15;
  }
  .benefits-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .benefits-item:nth-child(1) {
    grid-column: 3;
    grid-row: 1;
  }
  .benefits-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .benefits-item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .benefits-item:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
  }
  .benefits-image {
    position: absolute;
    right: 32px;
    top: -116px;
    min-height: 408px;
    min-width: 526px;
    margin: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/benefits/benefits-image-1x.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 522px 407px;
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      .benefits-image {
        background-image: url('../img/benefits/benefits-image-2x.png');
       }
  }
}