.faq-title {
  max-width: 320px;
  margin-bottom: 40px;
}
.faq-title-container {
  margin: 0 auto;
}

.faq-container {
  max-width: 320px;
  margin: 0 auto;
}

.accordion {
  list-style-type: none;
}

.accordion-item {
  border-bottom: 1px solid var(--color-secondary);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
  padding: 28px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

.accordion-header:hover {
  background-color: var(--color-accent);
  border-radius: 16px;
}
.accordion-header:hover .faq-icon {
  fill: var(--color-accent);
}

.accordion-content {
  display: none;
  background-color: var(--color-accent);
  padding: 0px 24px 28px 24px;
}

.accordion-item.active {
  border-radius: 16px;
  overflow: hidden;
}

.accordion-item.active .accordion-content {
  display: block;
  transition: transform 0.5s ease;
}

.accordion-item.active .accordion-header {
  background-color: var(--color-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: transform 0.5s ease;
}
.faq-icon {
  flex-shrink: 0;
  stroke: var(--color-text);
  fill: var(--color-text);
  transition: transform 0.5s ease;
}

.accordion-item.active .faq-icon {
  transform: rotate(180deg);
  fill: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .faq-title {
    max-width: 592px;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  .faq-container {
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .faq-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 1020px;
  }
  .faq-title {
    max-width: 520px;
  }
  .faq-title-container {
    min-height: 1020px;
    margin: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/faq/faq-img@1x.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 522px 407px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .faq-title-container {
      background-image: url('../img/faq/faq-img@2x.png');
    }
  }
  .faq-container {
    margin: 0;
    align-self: flex-end;
    max-width: 592px;
  }
}
