.page-header-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: 'Impact', sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.logo-accent-color {
  color: var(--color-primary);
}

.theme-switcher {
  width: 48px;
  height: 24px;
  border: none;
  border-radius: 16px;
  padding: 2px;
  background-color: var(--color-border);
  transition: background-color 250ms linear;
}

[aria-label='Switch to light theme'] {
  background-color: var(--color-border);
}

.switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: transform 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear;
}

[aria-label='Switch to light theme'] .switch {
  background-color: var(--black);
  box-shadow: 8px 0 0 0 var(--color-primary);
  transform: translateX(16px);
}

.menu {
  display: flex;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-hover-primary);
}

.open-menu-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.open-menu-btn > span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: var(--color-text);
  margin-left: auto;
  margin-right: auto;
}

.open-menu-btn > span:not(:last-child) {
  margin-bottom: 5px;
}

.open-menu-btn,
.open-menu-btn > span {
  transition: all 250ms ease-in-out;
}

.open-menu-btn.active {
  transition-delay: 500ms;
  transform: rotate(45deg);
}

.open-menu-btn.active > span:nth-child(2) {
  width: 0;
}

.open-menu-btn.active > span:nth-child(1),
.open-menu-btn.active > span:nth-child(3) {
  transition-delay: 250ms;
}

.open-menu-btn.active > span:nth-child(1) {
  transform: translateY(7px);
}

.open-menu-btn.active > span:nth-child(3) {
  transform: translateY(-7px) rotate(90deg);
}

@media screen and (max-width: 767px) {
  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    row-gap: 24px;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
    position: fixed;
    top: 64px;
    right: 0;
    width: 100%;
    height: calc(100% - 64px);
    margin-top: 16px;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s linear;
    background-image: url('../img/header/mobile-menu-bg.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu.is-open {
    transform: translate(0);
  }
}

@media screen and (min-width: 768px) {
  .page-header-container {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .page-header .logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .theme-switcher {
    position: absolute;
    top: 36px;
    right: 377px;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    column-gap: 40px;
  }

  .open-menu-btn {
    display: none;
  }
}
