.hero {
  background-image: url(../img/hero/decor-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center top 16px;
  background-size: 332px;
  padding-top: 112px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/decor-bg-mobile@2x.png');
  }
}

.hero-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms linear;
}

.hero-content {
  padding-bottom: 72px;
}

.hero-link {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 40px;
}

.hero-link::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  z-index: -1;
  width: 165px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--color-accent);
  transition: background-color 250ms linear;
}

.hero-link:hover::after,
.hero-link:focus::after {
  background-color: var(--color-primary);
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-accent-text {
  color: var(--color-primary);
}

.hero-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--color-secondary);
}

.hero-social-link {
  transition: color 250ms linear;
}

.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/decor-bg-tablet.png);
    background-size: 709px;
    background-position: top;
    padding-top: 80px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/decor-bg-tablet@2x.png);
    }
  }

  .hero-title {
    font-size: 136px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }

  .hero-link {
    display: inline-flex;
    min-width: 416px;
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-link::after {
    width: 264px;
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-social-list {
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
    padding: 0;
  }

  .hero-social-link {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(../img/hero/decor-bg-desktop.png);
    background-size: 1221px;
    background-position: top;
    padding-top: 184px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/decor-bg-desktop@2x.png);
    }
  }

  .hero-title {
    position: relative;
    margin-bottom: 80px;
  }

  .hero-title::before {
    content: '';
    background-image: url(../img/hero/hero-avatar.webp);
    background-size: cover;
    width: 108px;
    height: 108px;
    display: block;
    position: absolute;
    left: 643px;
    top: 24px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-title::before {
      background-image: url(../img/hero/hero-avatar@2x.webp);
    }
  }

  .hero-title-accent {
    display: block;
  }

  .hero-content {
    display: flex;
    padding-bottom: 132px;
    padding-left: 72px;
  }

  .hero-link {
    margin-right: 136px;
    margin-bottom: 0;
  }
}
