.hero {
  background-image: url(../img/hero/decor-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center top 16px;
  background-size: 332px;
  padding-top: 112px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/decor-bg-mobile@2x.png');
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.title-hero {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* padding-top: 96px; */
  margin-bottom: 0;
}

.hero-link-wrapper {
  position: relative;
  max-width: 100%;
}

.hero-link {
  display: block;
  max-width: 165px;
  min-height: 92px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border-radius: 16px;
  background-color: var(--color-accent);
  margin-left: auto;
  transition: background-color 250ms linear;
}

.hero-link-label {
  position: absolute;
  display: inline-flex;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  align-items: center;
  column-gap: 12px;
}

.hero-link:hover,
.hero-link:focus {
  background-color: var(--color-primary);
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 72px;
}

.hero-accent-text {
  color: var(--color-primary);
}

.social-item-hero {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: color 0.3s ease;
}

.social-item-hero:hover,
.social-item-hero:focus {
  color: #00b068;
}

.hero-social-list {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-secondary);
}

.hero-social-link {
  transition: color 250ms linear;
}

.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--color-primary);
}
