.swiper {
  margin-bottom: 24px;
  height: 100%;
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--color-secondary);
}

.reviews-text {
  margin-bottom: 24px;
}

.reviews-author {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
  margin-top: auto;
}

.reviews-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviews-buttons {
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
}

.reviews-prev-btn,
.reviews-next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--color-bg);
  fill: none;
  stroke: var(--color-text);
  transition: background-color 250ms ease, stroke 250ms ease;
}

.reviews-prev-btn:disabled,
.reviews-next-btn:disabled {
  cursor: default;
  stroke: var(--color-secondary);
}

.reviews-prev-btn:hover:not(:disabled),
.reviews-prev-btn:focus:not(:disabled),
.reviews-next-btn:hover:not(:disabled),
.reviews-next-btn:focus:not(:disabled) {
  background-color: var(--color-secondary);
}
