.main-reviews {
  width: 100%;
  min-height: 464px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-reviews {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 51px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  width: 100%;
}

.carousel-cell {
  width: 100%;
  background: #e4e5e6;
  border-radius: 16px;
  margin-right: 20px;
  min-height: 200px;
}

.review-style {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  width: 100%;
  flex-wrap: wrap;
}

.review-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  height: 40px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.userName {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.btn-left-right {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 10px;
}

.btn-prev,
.btn-next {
  background: #fff;
  color: black;
  display: inline-block;
  border: 1px solid #292929;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
}

* {
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main-reviews {
    min-width: 768px;
    min-height: 472px;
  }

  .title-reviews {
    font-size: 108px;
    padding-bottom: 60px;
    line-height: 1.14815;
    text-align: center;
  }

  .carousel-cell {
    width: 704px;
  }
}

@media (min-width: 1280px) {
  .main-reviews {
    margin-top: 82px;
    margin-bottom: 82px;
    min-width: 1280px;
    height: 500px;
  }

  .title-reviews {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  .carousel-cell {
    width: calc(50% - 32px);
  }
}